/*FOR ALL SITE*/
body{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
}

i{
	text-rendering: optimizeLegibility;
}

img{display:block;max-width:100%}

h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

.fa.box-itens{
	color: #fff;
	margin-bottom: 20px;
	width: 100%;
	background-color: #12121C;
	padding: 40px 0;
}

.call p{
	 color: #fff;
	 padding: 30px 0 20px 0;
	 clear: both;
}

.btn{
	border: 4px solid #fff;
	color: #fff;
	padding: 6px 20px;
	text-transform: uppercase;
	font-weight: 700;
	transition: all .3s ease-in-out;
	width: 150px;
	font-size: .8em;
}

.btn.btn-black{
	color: #12121C;
	border-color: #12121C;
	clear: both;
	margin: 20px auto;
}

.btn.btn-black:hover{
	background: #12121C;
	color: #fff;
}

#btn-topo{
	position: relative;
	top: 50px;
	
}

.btn:hover{
	background-color: #fff;
	color: #12121C;
}

.subtitulo{
	font-size: 1.3em;
	color: #373854;
	text-transform: uppercase;
	text-align: center;
}

.branco{
	color: #fff;
}

.subtitulo.branco:after{
	background: #fff;
}

.subtitulo:after{
	content: "";
	display: block;
	width: 100px;
	height: 4px;
	background: #373854;
	margin: 10px auto 30px auto;
}

/*==================================================FOR ALL SITE*/

.header-home{
	width: 100%;
	background-color: #12121C;
	padding-bottom: 20px;
}

.hero-img{
	background: url('../img/bg.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	height: 450px;
	padding-top: 100px;
	text-align: center;
}

.hero-img h1{
	color: #fff;
	font-weight: normal;
	font-size: 1.75em;
	width: 80%;
	margin: 0 auto;
}

cite{
	color: #fff;
	font-weight: bold;
	padding-top: 20px;
	margin-bottom: 50px;
}

.logo{
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	width: 120px;
	text-align: center;
	margin-top: 30px;
}

.logo a{
	color: #fff;
	font-weight: 700;
	border: 2px solid #fff;
	padding: 5px 20px;
	transition: all .3s ease-in-out;
}

.logo a:hover{
	background-color: #fff;
	color: #12121C;
}

/*=============================================================MENU DE NAVEGAÇÃO*/
.menu{
	font-family: Lato, sans-serif;
	font-weight: 300;
	font-size: 14px;
	width: 100%;
}

.menu ul{
	display: flex;
	list-style: none;
	margin-top: 30px;
	float: right;
}
#menu-direita{
 	
 }
.menu a{
	display: block;
	padding-left: 30px;
	text-transform: uppercase;
	color: #fff;

}

header label img{
	width: 30px;
	cursor: pointer;
	display: none;
}

#btn-menu{
	display: none;
}
/*MENU DE NAVEGAÇÃO*/

.trabalhos{
	margin-bottom: 30px;
}

/*=======================================================POSTAGENS*/

.box-post-recente{
	width: 100%;
	min-height: 340px;
	text-align: center;
	margin-bottom: 30px;
	background-color: 	#373854;
	text-align: center;
}

.box-post-recente p{
	line-height: 1.5em;
	font-size: 1em;
	color: #fff;
	padding: 0 10px 10px 10px;
}



.box-post-recente h2{
	text-transform: uppercase;
	font-size: 1.2em;
	color: #fff;
	font-weight: 700;
}

.box-post-recente h2:after{
	content: "";
	display: block;
	width: 100px;
	height: 2px;
	background: #fff;
	margin: 10px auto;
}



/*========================================================PORTFOLIO*/
.portfolio_lista div:last-of-type{
	margin-top:20px
}

.portfolio_lista{
	margin-bottom: 30px;
}

.portfolio{
	background-color: #12121C;
	padding: 30px 0;
	text-align: center;
}

/*========================================================SOBRE*/
.sobre{
	padding: 60px 0;
	text-align: center;
}

.sobre-foto{
	width: 150px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.name{
	text-transform: uppercase;
	letter-spacing: .2em;
}

.lista-sobre li{
	padding-top: 5px;
}

.descricao{
	text-align: left;
	padding-bottom: 20px;
}

.descricao h2{
	letter-spacing: .3em;
	padding-bottom: 10px;
	text-transform: uppercase;
}

/*========================================================QUEBRA*/

.quebra{
	background: url('../img/quebra.jpg') no-repeat center;
	width: 100%;
	height: 230px;
	background-size: cover;
	padding-top: 40px;
	text-align: center;
}

.quebra blockquote p{
	color: #fff;
	font-weight: normal;
	font-size: 1.5em;
	width: 80%;
	margin: 0 auto;
}

/*========================================================FOOTER*/

.footer{
	width: 100%;
	text-align: center;
	background: #12121C;
	color: #fff;
	padding: 20px 0;
	font-size: .8em;
}


/*============================================================ ESTILIZAÇÃO DAS PÁGINAS*/

.titulo-page h1{
	font-size: 1.5em;
	color: #373854;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

.titulo-page:after{
	content: "";
	display: block;
	width: 100px;
	height: 4px;
	background: #373854;
	margin: -20px auto 30px auto;
}


.thumb-port{
	position: relative;
	text-align: center;
	display: table;
	margin-bottom: 20px;
	background-color: #000;
}

.thumb-port h2{
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	text-transform: uppercase;
	letter-spacing: .4em;
	color: #fff;
	font-size: 1.2em;
	z-index: 10;
}

.barra-titulo{
	content: "";
	display: block;
	width: 100%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 100px;


}

.thumb-port h2:before, .thumb-port h2:after{
	content: "";
	display: block;
	width: 100px;
	height: 4px;
	background-color: #fff;
	margin: 0 auto;
}

.grid-16.com-amor{
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	color: #c9c9c9;
	margin: 20px 0 40px 0;
}

/*============================================================SOBRE*/
.sobre-thumb{
	text-align: center;
}
.sobre-thumb img{
	width: 150px;
	border-radius: 50%;
	margin: 20px auto;
}

.skill, .sobre-descricao{
	height: auto;
	padding: 20px;
	background-color: #f9f9f9;
	margin: 50px 0;
}

.sub{
	letter-spacing: .3em;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.skill ul{
	margin-bottom: 20px;
}

.sociais li{
	display: inline-block;
	padding-right: 20px;
	color: #c9c9c9;
	transition: all .3s ease-in-out;
}
.sociais li:hover{
	color: #222;
}

/*============================================================CONTATO*/

form {
    width: 100%;
    padding: 1em;
}
form div + div {
    margin-top: 1em;
}

label {
    display: block;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 4px;
}	

input, textarea {
    display: block;
	width: 100%;
	border: 4px solid #12121C;
	background: none;
	padding: 7px 10px;
	margin-bottom: 10px;
	outline: none;
	font-size: 14px;
}

input:focus, textarea:focus {
    border-color: #444;
}

textarea {
    display: block;
	width: 100%;
	height: 120px;
	border: 4px solid #12121C;
	background: none;
	padding: 7px 10px;
	margin-bottom: 20px;
	outline: none;
	font-size: 14px;
}
button{
    padding: 7px 40px;
	background: none;
}

.contato .btn .btn-black{
	margin-top: -10px;
}

.contato .subtitulo{
	font-size: 16px;
}

.contato .subtitulo:after{
	width: 50px;
	height: 2px;
}

.sociais-contato li{
	display: inline-block;
	margin-right: 20px;
}

.sociais-contato{
	margin-top: 20px;
}

.info-contato{
	font-size: 16px;
}

.contato h2{
	text-transform: uppercase;
	margin-bottom: 20px;
}

/*============================================================MIDIAS*/

@media (max-width: 768px){
	header label img{
		display: block;
		position: absolute;
		top: 30px;
		right: 0;
	}

	.hero-img{
	width: 100%;
	height: 350px;
	padding-top: 80px;	
}

.hero-img h1{
	font-size: 1.2em;
	width: 100%;
}

	.menu{
		position: absolute;
		top: 94px;
		left: 0;
		width: 100%;
		background: #12121C;
		text-align: center;
		padding: 10px 0;
		z-index: 99;
		transform: translateX(-220%);
		transition: all .4s ease-in-out;
	}

	.menu ul{
		display: block;
		padding: 0;
		margin: 0;
		float: none;
	}

	.menu ul a{
		padding: 0 0 10px 0;
	}

	#btn-menu:checked ~ .menu {
		transform:  translateX(0%);
	}

	.quebra blockquote p{
	font-size: 1.2em;
	width: 100%;
	margin: 0 auto 20px auto;
}

}